.UpdateVacation {
    width: fit-content;
    display: inline;
    margin-left: 25%;
}

.UpdateVacation .alert {
    width: 80%;
    margin: auto;
    margin-top: 15px;
}

.UpdateVacation input {
    width: 80%;
    margin: auto;
}
